<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>LoginLogoutUsingJDBC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Homepage</display-name>
    <servlet-name>Homepage</servlet-name>
    <servlet-class>Homepage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Homepage</servlet-name>
    <url-pattern>/Homepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newclass</display-name>
    <servlet-name>newclass</servlet-name>
    <servlet-class>newclass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newclass</servlet-name>
    <url-pattern>/newclass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveClass</display-name>
    <servlet-name>SaveClass</servlet-name>
    <servlet-class>SaveClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveClass</servlet-name>
    <url-pattern>/SaveClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student</display-name>
    <servlet-name>Student</servlet-name>
    <servlet-class>Student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/Student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newStudent</display-name>
    <servlet-name>newStudent</servlet-name>
    <servlet-class>newStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newStudent</servlet-name>
    <url-pattern>/newStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveStudent</display-name>
    <servlet-name>SaveStudent</servlet-name>
    <servlet-class>SaveStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveStudent</servlet-name>
    <url-pattern>/SaveStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Subject</display-name>
    <servlet-name>Subject</servlet-name>
    <servlet-class>Subject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Subject</servlet-name>
    <url-pattern>/Subject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Teacher</display-name>
    <servlet-name>Teacher</servlet-name>
    <servlet-class>Teacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Teacher</servlet-name>
    <url-pattern>/Teacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveTeacher</display-name>
    <servlet-name>SaveTeacher</servlet-name>
    <servlet-class>SaveTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveTeacher</servlet-name>
    <url-pattern>/SaveTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveAssign</display-name>
    <servlet-name>SaveAssign</servlet-name>
    <servlet-class>SaveAssign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveAssign</servlet-name>
    <url-pattern>/SaveAssign</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveSubject</display-name>
    <servlet-name>SaveSubject</servlet-name>
    <servlet-class>SaveSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveSubject</servlet-name>
    <url-pattern>/SaveSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudent</display-name>
    <servlet-name>UpdateStudent</servlet-name>
    <servlet-class>UpdateStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudent</servlet-name>
    <url-pattern>/UpdateStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSubject</display-name>
    <servlet-name>UpdateSubject</servlet-name>
    <servlet-class>UpdateSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSubject</servlet-name>
    <url-pattern>/UpdateSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTeacher</display-name>
    <servlet-name>UpdateTeacher</servlet-name>
    <servlet-class>UpdateTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTeacher</servlet-name>
    <url-pattern>/UpdateTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateClass</display-name>
    <servlet-name>UpdateClass</servlet-name>
    <servlet-class>UpdateClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateClass</servlet-name>
    <url-pattern>/UpdateClass</url-pattern>
  </servlet-mapping>
</web-app>